<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container ">
        <h1 class="navbar-brand"></h1>

        <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/hero">hero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/posts">posts</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/exam3">exam3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/exam4">exam4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/exam5">exam5</a>
                </li>
                
            </ul>
        </div>
    </div>
    
</nav>

<router-outlet></router-outlet>
