<div class="container mt-4 ">
    <h1>Check Citizen ID</h1>

    <div class="row justify-ontent center mt-3">
        <div class="col-md-6">
            <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="citizenid">Citizen ID</label>
                    <input class="form-control mt-1" formControlName="citizenid" required>
                </div>
                <div class="form-group">
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn btn-primary" type="submit">Check</button>
                      </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row justify-ontent center mt-3" *ngIf="respMessage">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-body">
                    <p class="card-text">"success": {{respMessage.success}}</p>
                    <p class="card-text">"error_code": {{respMessage.error_code}}</p>
                    <p class="card-text">"error_msg": {{respMessage.error_msg}}</p>
                  </div>
            </div>
        </div>
    </div>
</div>